.layout{
    /* top: 17px; */
    width: 100vw;
    height: 100svh;
    z-index: 10000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.layout-top{
    width: 100svw;
}

.layout-text{
    font-size: 40px;
    margin-top: 17px;
    width: fit-content;
    color: #07CE02;
    height: 55px;
    backdrop-filter: blur(1px);
}

.main-bg img{
    height: 100svh;
    width: 100vw;
    z-index: 10;
}