.loading{
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
}
.loading-1{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    transition: 1s ease-in;
    z-index: 2000;
}

.line-15{
    z-index: 2200;
}

.loading-video{
    height: 100vh;
    width: 100vw;
    top: 10px;
    left: 10px;
    z-index: 2100;
}
.loading-vid{
    width: 1200px;
}

.circle-15{
    border: 2px solid #07CE02;
    height: 400px;
    width: 400px;
    border-radius: 250px;
    z-index: 2200;
    color: #07CE02;
    box-shadow: 0px 0px 40px #07CE02;
}

/* -----------------loading 2-----------------------  */

.loading-2{
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    font-size: 60px;
    z-index: 2200;
}

.outer-89{
    height: 400px;
    width: 400px;
    border: 2px solid #07CE02;
    border-radius: 200px;
    opacity: 0;
    transition: 1s ease-in;
}

.gradient-svg{
    height: 350px;
    width: 350px;
    transition: 0.5s ease;
}

.loading-text{
    top: 0%;
    color: #07CE02;
    height: 100vh;
    width: 100vw;
    font-size: 100px;
    z-index: 2500;
}

@media screen and (max-width:600px) {
    .loading-video{
        top: 4px;
        left: 4px;
        z-index: 2100;
    }
    .loading-vid{
        width: 600px;
    }

    .circle-15, .outer-89{
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }
    .gradient-svg{
        height: 180px;
        width: 180px;
    }
    .loading-text{
        font-size: 50px;
    }
}