.page-4{
    overflow: hidden;
}

/*----------------------------------- thanks----------------------------------  */

.thanks{
    height: 100vh;
    width: 100vw;
}

.thanks-top{
    font-size: 60px;
    color: #07CE02;
    text-transform: uppercase;
    font-family: Space Games;
    z-index: 100;
}

.snake-2, .snake-1{
    z-index: 200;
}
.snake1-img{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    transform: translateX(20px);
}
.snake2-img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    transform: translateX(-20px);
}
.kaali-naagin{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    z-index: 100;
    color: #07CE02;
    font-size: 24px;
}

/* --------------------------------fotf ------------------------- */

.fotf{
    height: 100vh;
    width: 100vw;
}
.fotf-front{
    height: 100vh;
    width: 100vw;
    color: #07CE02;
}
.char{
    font-size: 100px;
    z-index: 200;
    width: 0px;
    height: 0px;
    overflow: visible;
}
.fotf-bg{
    z-index: 100;
    width: 100vw;
    overflow: hidden;
}
.fotf-img{
    width: 300px;
    height: 300px;
}

.char-1{
    top: 20%;
}
.char-2{
    top: 40%;
}
.char-3{
    top: 60%;
}
.char-4{
    top: 80%;
}

/* -----------footer------------  */

.footer{
    width: 100vw;
    overflow: hidden;
}

.f-text{
    color: #07CE02;
    text-decoration: underline;
    padding-left: 10px;
    z-index: 1000;
}


.f-sq{
    height: 10px;
    width: 10px;
    background-color: #07CE02;
    transform: rotate(45deg);
}

.f-logo{
    color: #07CE02;
}


/* ---------------------media queries ----------- */

@media screen and (max-width:600px){
    .thanks-top{
        font-size: 40px;
    }
    .snake1-img{
        height: 150px;
        width: 150px;
    }
    .snake2-img{
        height: 200px;
        width: 200px;
    }

    /* ----------------------------fotf bg----------------------------  */

    .char{
        font-size: 50px;
    }
    .fotf-img{
        width: 150px;
        height: 150px;
    }

    /* -----------------------footer----------------------  */

    .footer{
        padding: 8px !important;
    }
    .f-text{
        font-size: 8px;

    }
    .term{
        padding:0px 8px !important;
    }
    .f-sq{
        height: 8px;
        width: 8px;
    }
}

/* --------------------keyframes-------------------------  */

@keyframes slide-top {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes slide-bottom {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0px);
    }
}