.page-2{
    width: 100vw;
    overflow: hidden;
}
.page3-sh{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    top: 0%;
    z-index: 110;
}
.box{
    top: 45%;
    height: 50px;
    width: 50px;
    background-color: #07CE02;
    rotate: 45deg;
    z-index: 0;
    transform: scale(1);
}

/* -----------------comp1--------------- */

.page2-comp1{
    height: 100vh;
    width: 100vw;
    z-index: 100;
}
.shuffle-top {
    transform: translateY(250px);
    opacity: 0;
}
.shuffle-bottom {
    width: 100%;
}

.shuffle-left{
    font-size: 32px;
    text-transform: uppercase;
}
.shuffle-sq{
    background-color: black;
    height: 10px;
    width: 10px;
    rotate: 45deg;
    animation: rotate 3s ease infinite;
}
.shuffle-text1{
    font-size: 12px;
}
.shuffle-text2{
    font-size: 16px;
    font-family: 'Space Mono';
}
.layers , .box-2 , .box2-content{
    transform: translateY(250px);
}
.layer-1, .layer-2,.layer-3,.layer-4, .layer-5, .layer-6, .layer-7, .layer-8 , .layer-9 , .layer-10 , .layer-11{
    width: 450px;
}
.lr1-img1, .lr1-img2, .lr5-img1, .lr5-img2, .lr6-img1, .lr6-img2, .lr7-img1, .lr7-img2 , .lr8-img1, .lr8-img2 , .lr9-img1, .lr9-img2, .lr10-img1, .lr10-img2, .lr11-img1, .lr11-img2{
    height: 250px;
}
.layer-1{
    z-index: 150;
}
.layer-2{
    z-index: 140;
}
.lr2-img1, .lr2-img2{
    height: 210px;
}
.layer-3{
    z-index: 130;
}
.lr3-img1 , .lr3-img2{
    height: 170px;
}
.layer-4{
    z-index: 120;
}
.lr4-img1, .lr4-img2{
    height: 130px;
}
.layer-5{
    z-index: 160;
}
.layer-6{
    z-index: 170;
}
.layer-7{
    z-index: 180;
}
.layer-8{
    z-index: 190;
}
.layer-9{
    z-index: 200;
}
.layer-10{
    z-index: 210;
}
.layer-11{
    z-index: 220;
}


/* ----------------------black svg(box 2)------------------------------ */

.box-2{
    transform: rotateY(90deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 100;
}
.box2-content{
    height: 100%;
    max-height: 100vh;
    scale: 0;
    opacity: 0;
}
.box2-line1{
    font-size: 20px;
    -webkit-text-stroke: 1px #07CE02;
    line-height: 20px;
    color: transparent;
    text-transform: uppercase;
}
.box2-line2{
    font-size: 32px;
    color: #07CE02;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 700;
}
.box2-img{
    height: 150px;
}

.img-text{
    color: #07CE02;
    font-size: 10px;
}
.img-sq{
    width: 8px;
    height: 8px;
    rotate: 45deg;
    background-color: #07CE02;
}


/* -----------------------------comp2----------- */

.page2-comp2{
    height: 70vh;
    background-color: #07CE02;
    width:100vw;
}

/* ---------------------media queries------------- */

@media screen and (max-width:1400px) and (min-width:801px){
    .shuffle-left{
       font-size: 24px;
    }
    .shuffle-text1, .shuffle-text2{
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    .shuffle-top{
        flex-direction: column !important;
        padding-top: 48px !important;
    }
    .shuffle-left{
        font-size: 20px;
        justify-content: center !important;
        width: 100% !important;
        padding: 48px !important;
        padding-top: 120px !important;
        padding-bottom: 0% !important;
    }
    .shuffle-right{
        justify-content: center !important;
        flex-direction: column !important;
        padding: 48px !important;
        padding-bottom: 0% !important;
    }
    .shuffle-text1{
        padding: 0% !important;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 16px !important;
    }
    .shuffle-text2{
        padding: 0% !important;
        font-size: 16px;
    }

    /* ------------------black box(box -2) -------------------- */

    .box-2{
        width: "100vw";
        background-image: none !important;
        background-color: black;
        height: 400px;
    }
    .box2-content{
        justify-content: center !important;
    }
    .box2-top{
        padding-bottom: 24px ;
    }
    .box2-line1{
        font-size: 16px;
    }
    .box2-line2{
        font-size: 20px;
    }
    .box2-bottom{
        flex-direction: column !important;
    }
    .box2-bt-top{
        padding-bottom: 24px;
    }
    .img-text{
        font-size: 8px;
    }

    .access-btn-pc{
        display: none !important;
    }
    .layer-1,.layer-2,.layer-3,.layer-4, .layer-5, .layer-6, .layer-7, .layer-8 , .layer-9 , .layer-10 , .layer-11{
        width: 200px;
    }

    .lr2-img1, .lr2-img2{
        height: 100px;
    }
    .lr3-img1, .lr3-img2{
        height: 80px;
    }
    .lr4-img1, .lr4-img2{
        height: 60px;
    }
    .lr1-img1, .lr1-img2, .lr5-img1, .lr5-img2, .lr6-img1, .lr6-img2, .lr7-img1, .lr7-img2 , .lr8-img1, .lr8-img2 , .lr9-img1, .lr9-img2, .lr10-img1, .lr10-img2, .lr11-img1, .lr11-img2{
        height: 120px;
    }

    .shuffle-bottom{
        width: 100%;
    }
    .box-2{
        width: 100%;
    }
    .page2-comp2{
        height: 60vh;
    }
}

/*----------------------- keyframes----------------------------- */

@keyframes layer1-anime{
    0%{
        width: 450px;
    }
    10% , 20%{
        width: 700px;
    }
    30%, 40%{
        width: 900px;
    }
    50%, 60%{
        width: 1050px;
    }
    70%, 100%{
        width: 1150px;
    }
}
@keyframes layer1-img-anime{
    0%{
        height: 250px;
        opacity: 1;
    }
    10%, 20%{
        height: 210px;
    }
    30%, 40%{
        height: 170px;
    }
    50%, 60%{
        height: 130px;
        opacity: 1;
    }
    70%, 100%{
        height: 90px;
        opacity: 0;
    }
}


@keyframes layer2-anime{
    0%{
        width: 700px;
    }
    10%, 20%{
        width: 900px;
    }
    30%, 40%{
        width: 1050px;
    }
    50%, 100%{
        width: 1150px;
    }
}
@keyframes layer2-img-anime{
    0%{
        height: 210px;
        opacity: 1;
    }
    10%, 20%{
        height: 170px;
    }
    30%, 40%{
        height: 130px;
        opacity: 1;
    }
    50%, 100%{
        height: 90px;
        opacity: 0;
    }
}


@keyframes layer3-anime{
    0%{
        width: 900px;
    }
    10%, 20%{
        width: 1050px;
    }
    30%, 100%{
        width: 1150px;
    }
}
@keyframes layer3-img-anime{
    0%{
        height: 170px;
        opacity: 1;
    }
    10%, 20%{
        height: 130px;
    }
    30%, 100%{
        height: 90px;
        opacity: 0;
    }
}


@keyframes layer4-anime{
    0%{
        width: 1050px;
    }
    10%, 100%{
        width: 1150px;
    }
}
@keyframes layer4-img-anime{
    0%{
        height: 130px;
        opacity: 1;
    }
    10%, 20%{
        height: 90px;
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


@keyframes layer5-anime{
    0%, 20%{
        width: 450px;
    }
    30%, 40%{
        width: 700px;
    }
    50%, 60%{
        width: 900px;
    }
    70%, 80%{
        width: 1050px;
    }
    90%, 100%{
        width: 1150px;
    }
}
@keyframes layer5-img-anime{
    0%{
        opacity: 0;
    }
    10%, 20%{
        opacity: 1;
        height: 250px;
    }
    30%, 40%{
        height: 210px;
    }
    50%, 60%{
        height: 170px;
    }
    70%, 80%{
        height: 130px;
        opacity: 1;
    }
    90%, 100%{
        height: 90px;
        opacity: 0;
    }
}


@keyframes layer6-anime{
    0% , 40%{
        width: 450px;
    }
    50%, 60%{
        width: 700px;
    }
    70%,80%{
        width: 900px;
    }
    90%, 100%{
        width: 1050px;
    }
}
@keyframes layer6-img-anime{
    0%,20%{
        opacity: 0;
    }
    30%, 40%{
        opacity: 1;
        height: 250px;
    }
    50%, 60%{
        height: 210px;
    }
    70%, 80%{
        height: 170px;
    }
    90%, 100%{
        height: 130px;
        opacity: 1;
    }
}


@keyframes layer7-anime{
    0% , 60%{
        width: 450px;
    }
    70%, 80%{
        width: 700px;
    }
    90%, 100%{
        width: 900px;
    }

}
@keyframes layer7-img-anime{
    0%, 40%{
        opacity: 0;
    }
    50%, 60% {
        opacity: 1;
        height: 250px;
    }
    70%, 80%{
        height: 210px;
    }
    90%, 100%{
        height: 170px;
    }

}


@keyframes layer8-anime{
    0% , 80%{
        width: 450px;
    }
    90%, 100%{
        width: 700px;
    }
}
@keyframes layer8-img-anime{
    0%, 60%{
        opacity: 0;
    }
    70%, 80%{
        opacity: 1;
        height: 250px;
    }
    90%, 100%{
        height: 210px;
    }
}


@keyframes layer9-anime{
    0% , 100%{
        width: 450px;
    }
}
@keyframes layer9-img-anime{
    0%, 80%{
        opacity: 0;
    }
    90%, 100%{
        opacity: 1;
        height: 250px;
    }
}

/* -----------------mobile ------------------------------ */

@keyframes layer1-anime-mob{
    0%{
        width: 200px;
    }
    10% , 20%{
        width: 350px;
    }
    30%, 40%{
        width: 450px;
    }
    50%, 60%{
        width: 525px;
    }
    70%, 100%{
        width: 575px;
    }
}
@keyframes layer1-img-anime-mob{
    0%{
        height: 110px;
        opacity: 1;
    }
    10%, 20%{
        height: 90px;
    }
    30%, 40%{
        height: 70px;
    }
    50%, 60%{
        height: 50px;
        opacity: 1;
    }
    70%, 100%{
        height: 30px;
        opacity: 0;
    }
}


@keyframes layer2-anime-mob{
    0%{
        width: 350px;
    }
    10%, 20%{
        width: 450px;
    }
    30%, 40%{
        width: 525px;
    }
    50%, 100%{
        width: 575px;
    }
}
@keyframes layer2-img-anime-mob{
    0%{
        height: 90px;
        opacity: 1;
    }
    10%, 20%{
        height: 70px;
    }
    30%, 40%{
        height: 50px;
        opacity: 1;
    }
    50%, 100%{
        height: 30px;
        opacity: 0;
    }
}


@keyframes layer3-anime-mob{
    0%{
        width: 450px;
    }
    10%, 20%{
        width: 525px;
    }
    30%, 100%{
        width: 575px;
    }
}
@keyframes layer3-img-anime-mob{
    0%{
        height: 70px;
        opacity: 1;
    }
    10%, 20%{
        height: 50px;
    }
    30%, 100%{
        height: 30px;
        opacity: 0;
    }
}


@keyframes layer4-anime-mob{
    0%{
        width: 525px;
    }
    10%, 100%{
        width: 575px;
    }
}
@keyframes layer4-img-anime-mob{
    0%{
        height: 50px;
        opacity: 1;
    }
    10%, 20%{
        height: 30px;
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


@keyframes layer5-anime-mob{
    0%, 20%{
        width: 200px;
    }
    30%, 40%{
        width: 350px;
    }
    50%, 60%{
        width: 450px;
    }
    70%, 80%{
        width: 525px;
    }
    90%, 100%{
        width: 575px;
    }
}
@keyframes layer5-img-anime-mob{
    0%{
        opacity: 0;
    }
    10%, 20%{
        opacity: 1;
        height: 110px;
    }
    30%, 40%{
        height: 90px;
    }
    50%, 60%{
        height: 70px;
    }
    70%, 80%{
        height: 50px;
        opacity: 1;
    }
    90%, 100%{
        height: 30px;
        opacity: 0;
    }
}


@keyframes layer6-anime-mob{
    0% , 40%{
        width: 200px;
    }
    50%, 60%{
        width: 350px;
    }
    70%,80%{
        width: 450px;
    }
    90%, 100%{
        width: 525px;
    }
}
@keyframes layer6-img-anime-mob{
    0%,20%{
        opacity: 0;
    }
    30%, 40%{
        opacity: 1;
        height: 110px;
    }
    50%, 60%{
        height: 90px;
    }
    70%, 80%{
        height: 70px;
    }
    90%, 100%{
        height: 50px;
        opacity: 1;
    }
}


@keyframes layer7-anime-mob{
    0% , 60%{
        width: 200px;
    }
    70%, 80%{
        width: 350px;
    }
    90%, 100%{
        width: 450px;
    }

}
@keyframes layer7-img-anime-mob{
    0%, 40%{
        opacity: 0;
    }
    50%, 60% {
        opacity: 1;
        height: 110px;
    }
    70%, 80%{
        height: 90px;
    }
    90%, 100%{
        height: 70px;
    }

}


@keyframes layer8-anime-mob{
    0% , 80%{
        width: 200px;
    }
    90%, 100%{
        width: 350px;
    }
}
@keyframes layer8-img-anime-mob{
    0%, 60%{
        opacity: 0;
    }
    70%, 80%{
        opacity: 1;
        height: 110px;
    }
    90%, 100%{
        height: 90px;
    }
}


@keyframes layer9-anime-mob{
    0% , 100%{
        width: 200px;
    }
}
@keyframes layer9-img-anime-mob{
    0%, 80%{
        opacity: 0;
    }
    90%, 100%{
        opacity: 1;
        height: 110px;
    }
}