/* --------------on load-------------  */

.load-left, .load-right{
    top: 0%;
    height: 100vh;
    width: 50vw;
    background-color: black;
    z-index: 1500;
}
.load-left{
    left: 0%;
}
.load-right{
    right: 0%;
}
.shadow{
    top: -40%;
    left: -16%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 0.2;
    background: radial-gradient(circle, #07CE02 0%, rgba(7,206,2,0) 100%);
    box-shadow: 0 0 100px #07CE02;
}

/* -----------------------page 1-------------------------- */

.page1{
    overflow: hidden;
}
.page1-comp1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-left: 100px;
}
.page1-bg{
    right: 0%;
    bottom: -10%;
    overflow: hidden;
}
.alien1-img{
    width: 1200px;
    z-index: 50;
}
.page1-bg2{
    height: 100vh;
    width: 100vw;
    mix-blend-mode: lighten;
}
.moving-bg{
    height: 2000px;
    width: 2000px;
    opacity: 0.1;
    z-index: 40;
}
.page1-bg3{
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ----------------------comp1-front------------------------- */

.page1-front{
    height: 100vh;
    overflow: hidden;
    z-index: 1200;
}
.message{
    transform: translateX(-450px);
}
.page1-lines{
    width: 100%;
}
.page1-lines{
    align-items: flex-start !important;
}
.comp1-line{
    font-size: 132px;
    line-height: 120px;
    color: #07CE02;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(2px);
}
.webkit-the{
    -webkit-text-stroke:2px #07CE02;
    color: transparent; 
}
.webkit-the, .page1-line3{
    transform: translateX(300px);
}
.page1-line3{
    -webkit-text-stroke: 2px #07CE02;
    color: transparent;
}

/* -----------------buttons------------------ */

.join-btns{
    font-size: 16px;
    z-index: 1200;
}

.access-btn-pc{
    right: 200px;
    top: 100px;
    z-index: 1200;
}
.access-btn-mob{
    top: 140px;
    display: none !important;
    width: 50%;
    z-index: 1300;
}

.b-text{
    white-space: nowrap;
}

.tedi-line{
    transform:translate(-10px, -8px);
}

.world-btn{
    transform: translateX(-30px);
}
.access-btn{
    width: 100%;
}
.discord, .world-btn, .access-btn, .at-btn{
    border-radius: 0%;
    color: #07CE02;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.5s ease-in;
    border: none !important;
    z-index: 1200;
}

.discord, .discord::after, .world-btn, .world-btn::after, .at-btn, .at-btn::after, .access-btn, .access-btn::after {
  position: relative;
  outline: transparent;
}

.discord::after{
    content: 'JOIN OUR DISCORD faf';
}
.world-btn::after{
    content: 'ACCESS WL faf';
}
.at-btn::after, .access-btn::after{
    content: 'ACCESS WHITELIST faf';
}

.discord::after , .world-btn::after, .at-btn::after, .access-btn::after{
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, black 3%, black 5%, #07CE02 5%);
  text-shadow: -3px -3px 0 white, 3px 3px 0 black;
  clip-path: var(--slice-0);
}

.discord:hover::after, .world-btn:hover::after, .at-btn:hover::after, .access-btn:hover::after {
  animation: glitch 1s steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* -----------------------------------comp2-------------------------------- */

.page1-comp2{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding-right: 140px;
}

.comp2-top , .comp2-bottom{
    width: 45vw;
}

.comp2-top{
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.comp2-head{
    font-size: 20px;
    color: #07CE02;
    width: 100%;
    text-align: left;
}

.scrollable{
    overflow-y: scroll;
}
.comp2-text div{
    font-size: 16px;
    color: #07CE02;
    opacity: .7;
    font-family: 'Space Mono';
}
.comp2-text-bg svg{
    height: 400px;
}

.mc-2{
    animation: opacity-2 2s linear infinite;
}
.mc-3{
    animation: opacity-3 2s linear infinite;
}

.community-top{
    font-size: 50px;
    color: #07CE02;
    line-height: 50px;
}

.community-bottom{
    font-size: 40px;
    -webkit-text-stroke: 1px #07CE02;
    color: transparent;
    line-height: 40px;
}

/* -----------------------comp3----------------- */

.page1-comp3, .page1-comp4{
    text-transform: uppercase;
    position: relative;
    width: 100vw;
    overflow: hidden;
    color: transparent;
    -webkit-text-stroke: 1px #07CE02;
    font-size: 90px;
    line-height: 110px;
    transition: .5s ease linear;
    z-index: 100;
}

.page1-comp3:hover, .page1-comp4:hover{
    cursor:default;
}

.page1-comp4{
    font-size: 35px;
    line-height: 40px;
}

.web-1, .web-2, .web-3 , .web-4, .mob{
    top: 0%;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    color: #07CE02;
}

/* ----------------------comp4--------------- */

.page1-comp4{
    height: 50svh;
    width: 100vw;
}

/* ----------------keyframes----------------- */

@keyframes opacity-2 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opacity-3 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}

/* -----------------------------media queries--------------------------- */


@media screen and (max-width:1921px) and (min-width:1401px){
    .moving-bg{
        width: 1500px;
    }
    .comp1-line{
        font-size: 100px;
        line-height: 100px;
    }
    .discord, .world-btn, .at-btn, .access-btn{
        font-size: 12px;
    }
    .tedi-line{
        width: 45px;
    }
    .pc-btn-svg{
        height: 60px;
    }
    .message svg{
        width: 80px;
    }
    .scrollable{
        font-size: 14px !important;
    }
    .page1-comp3{
        font-size: 70px;
        line-height: 100px;
    }
    .community-top{
        font-size: 40px;
        line-height: 40px;
        padding-right: 32px !important;
    }
    .community-bottom{
        font-size: 35px;
        line-height: 35px;
    }
}


@media screen and (max-width:1400px) and (min-width:801px){
    .alien1-img{
        width: 1000px;
    }
    .comp1-line{
        font-size: 90px;
        line-height: 90px;
    }
    .page1-comp1{
        padding-left: 100px;
    }
    .page1-comp2{
        padding-right: 140px;
    }
    .discord, .world-btn, .at-btn, .access-btn{
        font-size: 10px;
    }
    .tedi-line{
        width: 35px;
        transform:translate(-12px, -5px);
    }
    .pc-btn-svg{
        height: 60px;
    }
    .comp2-head{
        padding: 24px 16px !important;
        padding-bottom: 8px !important;
        font-size: 18px;
    }
    .comp2-text{
        padding-left: 0px !important;
    }
    .comp2-text-bg svg{
        height: 350px !important;
        transition: 0.5s ease;
    }
    .scrollable{
        height: 220px;
        overflow: scroll;
        font-size: 15px !important;
    }
    .message svg{
        width: 70px;
    }
    .community-top{
        font-size: 35px;
        line-height: 40px;
        padding-right: 24px !important;
    }
    .community-bottom{
        font-size: 30px;
        line-height: 30px;
    }
    .page1-comp3{
        font-size: 55px;
        line-height: 80px;

    }
}


@media screen and (max-width:800px) {

    .page1{
        padding: 0% !important;
    }

    /* -------------comp 1-------------- */

    .page1-comp1{
        display: flex;
        justify-content: center;
        padding-left: 0% !important;
    }

    .page1-front{
        justify-content: center !important;
        height: 400px;
        top: 140px;
    }
    .comp1-line{
        font-size: 50px;
        line-height: 50px;
    }
    .page1-lines{
        align-items: center !important;
    }
    .page1-bg{
        bottom: 0% !important;
        left: 0% !important;
    }
    .moving-bg{
        height: 1500px;
        width: 1500px;
        transform: translateY(-1200px);
    }
    .alien1-img{
        width: 100vw;
    }
    .page1-line3 , .page1-line1{
        padding-left: 0% !important;
    }

    .join-btns{
        padding-left: 0% !important;
        flex-direction: column !important;
        width: 100%;
    }
    .access-btn-mob{
        display: block !important;
        font-size: 13px;
    }
    .discord, .world-btn{
        padding:16px 24px !important;
        font-size: 11px;
        border: 0cap ;
    }
    .tedi-line{
        display: none !important;
    }
    .world-btn{
        transform: translateX(0px);
        margin-top: 0px !important;
        margin-left: 100px;
    }

    /* ------------------page1-comp2---------- */

    .page1-comp2{
        align-items: center !important;
        padding: 32px !important;
        justify-content: space-evenly !important;
    }
    .comp2-top{
        width:85vw ;
    }
    .comp2-head{
        font-size: 16px;
        padding-bottom: 24px !important;
    }
    .comp2-text{
        line-height: 150%;
        font-size: 12px;
        max-height: 200px;
        padding: 0% 32px !important;
    }
    .comp2-text-bg svg{
        width: 85vw !important;
    }
    .comp2-bottom {
        padding: 0px 48px !important;
        width: 100%;
        align-items: start !important;
    }
    .community-top , .community-bottom{
        padding: 0% !important;
        font-size: 25px;
        line-height: 34px;
    }

    /* page1 comp3--------- */
    
    .page1-comp3{
        font-size: 35px;
        padding: 48px !important;
        line-height: auto;
    }
}

@media screen and (min-width:600px) and (max-width:800px){
    .comp2-head{
        padding-top: 48px !important;
    }
}