.page-4{
    overflow: hidden;
}

/*----------------------------------- thanks----------------------------------  */

.thanks{
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;
}

.thanks-top{
    font-size: 60px;
    color: #07CE02;
    text-transform: uppercase;
    font-family: Space Games;
    z-index: 100;
}

.snake-2, .snake-1{
    z-index: 200;
}
.snake1-img{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    transform: rotateZ(-90deg) rotateX(90deg) translateX(20px);
    overflow: hidden;

}
.snake2-img{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 150px;
    transform: rotateZ(90deg) rotateX(-90deg) translateX(-20px);
}

.fotf{
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;
}
/* --------------------------------initial fotf ---------------------------------- */

.kala-fotf{
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
}
.kala-gola{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    z-index: 90;
    background-color: black;
    opacity: 0;
    transform: rotateY(90deg);
}
.char{
    font-size: 24px;
    width: 0px;
    height: 0px;
    transform: rotateY(180deg);
    overflow: visible;
    color: #07CE02;
    top: 50%;
    opacity: 0;
    z-index: 100;
}
.char-1{
    left: 44%;
}
.char-2{
    left: 48%;
}
.char-3{
    left: 52%;
}
.char-4{
    left: 56%;
}


.fotf-images{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    transform: translateY(100vh);
    overflow: hidden;
}
.fotf-img{
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    opacity: 0.15;
}

/* ---------------------------footer----------------------------------  */

.footer{
    width: 100vw;
    overflow: hidden;
}

.f-text{
    color: #07CE02;
    text-decoration: underline;
    padding-left: 10px;
    z-index: 5000;
}

.f-sq{
    height: 10px;
    width: 10px;
    background-color: #07CE02;
    transform: rotate(45deg);
}

.f-logo{
    background-color: #07CE02;
    z-index: 100;
    font-size: 20px;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}   

.twitter{
    background-color: #07CE02 !important;
    font-size: 20px;
    stroke: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}


/* ----------------------------------media queries ------------------------ */

@media screen and (max-width:1920px) and (min-width:1401px){
    .kala-gola{
        height: 300px;
        width: 300px;
        border-radius: 150px;
    }
    .thanks-top{
        font-size: 55px;
    }
}
@media screen and (max-width:1400px) and (min-width:801px){
    .thanks-top{
        font-size: 45px;
    }
    .kala-gola{
        height: 300px;
        width: 300px;
        border-radius: 150px;
    }
}

@media screen and (max-width:800px){
    .thanks-top{
        font-size: 30px;
    }
    .snake1-img{
        height: 150px;
        width: 150px;
    }
    .snake2-img{
        height: 200px;
        width: 200px;
    }

    /* ----------------------------fotf ----------------------------  */

    .char-1{
        left: 35%;
    }
    .char-2{
        left: 45%;
        padding-left: 10px;
    }
    .char-3{
        left: 55%;
    }
    .char-4{
        left: 65%;
    }
    .fotf-img{
        width: 150px;
        height: 150px;
    }
    .char{
        font-size: 16px;
    }

    /* -----------------------footer----------------------  */

    .footer{
        padding: 8px !important;
    }
    .f-text{
        font-size: 8px;

    }
    .term{
        padding:0px 8px !important;
    }
    .f-sq{
        height: 8px;
        width: 8px;
    }
    .f-logo{
        width: 16px;
        height: 16px;
        font-size: 12PX;
        border-radius: 8px;
    }   
    .twitter{
        width: 16px;
        height: 16px;
        border-radius: 8px;
    }
}

/* --------------------keyframes-------------------------  */

@keyframes slide-top {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-3600px);
    }
}
@keyframes slide-bottom {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(3600px);
    }
}

@keyframes slide-top-mob {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1800px);
    }
}
@keyframes slide-bottom-mob {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1800px);
    }
}