.page-3{
    width: 100vw;
    background-color: black;
}

.page3-comp1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.chadi{
    height: 800px;
}

.sound-img{
    height: 50px;
}

.crystal-img{
    height: 200px;
}

.world-img{
    height: 80px;
}

.page3-right{
    height: 100vh;
}

.crystal-text{
    font-size: 16px;
    color: #70CE02;
    line-height: 16px;
    width: 100%;
}
.crstal-text{
    font-size: 24px;
    color: #70CE02;
    line-height: 24px;
    width: 100%;
    text-transform: uppercase;
}




/* -------------------- comp-2--------------- */

.hero-comp{
    z-index: 500;
}
.hero{
    /* height: 200px; */
    width: 200px;
}

.hero-1{
    transform: translateX(60px);
}


/* -------------------- comp-3--------------- */

.page3-comp3{
    width: 100vw;
}

.page3-comp3-text{
    width: 100vw;
    font-size: 100px;
    -webkit-text-stroke: 1px #70CE02;
    color: transparent;
    text-transform: uppercase;
    z-index: 400;
}

.comp3-bg{
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 600;
    opacity: 0;
}

.circle-1{
    height: 450px;
    width: 450px;
    border: 25px solid #025200;
    border-radius: 50%;
}

.circle-2{
    height: 100%;
    width: 100%;
    border: 2px solid #07CE02;
    border-radius: 50%;
}
.circle-4{
    height: 100%;
    width: 100%;
    background: radial-gradient(#000000, #04930059);
    border-radius: 50%;
    padding: 15px;
}
.circle-3{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #025000BF;
    overflow: hidden;
}

.circle3-top , .circle3-bottom{
    height: 100%;
    width: 100%;
}

.circle-top1, .circle-top2 , .circle-bottom1, .circle-bottom2{
    height: 100%;
    width: 50%;
    font-size: 100px;
    color: #FFFFFF42;
}

.circle-top2{
    background-color: #025000;
    color: white;
}

.circle-space{
    height: 50vh;
    width: 100vw;
}

.ghoomta-text{
    color: #07CE02;
    font-size: 32px;
    top: 0%;
    left: 400px;
    text-transform: uppercase;
    width: 220px;
    height: 200px;
}

.ghoomta-sq{
    top: 48px;
    right: 48px;
    height: 20px;
    width: 20px;
    background-color: #07CE02;
}

.recurso{
    transition: .5s ease;
    transform: rotate(360deg);
} 

.recurso-img{
    height: 150px;
    mix-blend-mode: color-dodge;
    transition:trasnform .5s ease;
}

.perks{
    color: #07CE02;
    text-transform: uppercase;
}

.perks-img{
    height: 150px;
}

/* -------------comp -4 ---------------------- */

.roadmap{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.roadmap-top{
    font-size: 57px;
    font-weight: 700;
    color: #70CE02;
}

.road{
    border:1px solid #70CE02;
    height: 5px;
    top: 150px;
    width: 100vw;
    z-index: 20;
}

.progress{
    background-color: #70CE02;
    height: 100%;
    border-radius: 0%;
}

.pro-sq{
    z-index: 300;
    background-color: #07CE02;
}

.sq{
    width: 10px;
    height: 10px;
    rotate: 45deg;
    border: 1px solid #70CE02;
    background-color: black;
    z-index: 300;
}

.sq-1 , .sq-3, .sq-5{
    top: -2.5px;
}
.sq-2 , .sq-4, .sq-6{
    top: 147.5px;
}

.roadmap-bottom{
    height: 300px;
    color: #70CE02;
}

.rd {
    /* white-space: nowrap;     */
    /* min-height: 200px; */
   height: 150px;
}

.road-1, .road-3 , .road-5{
    transform: translateY(150px);
}

.road-top{
    font-size: 20px;
    font-weight: 500;
}
.road-bottom{
    font-size: 12px;
    opacity: .6;
}

/* media queries---------------- */

@media screen and (max-width:600px) {
    .page3-comp1{
        flex-direction: column !important;
        padding: 0% !important;
    }
    .chadi{
        height: 350px;
    }
    .page3-comp3-text{
        font-size: 24px ;
    }
    .crystal-text{
        font-size: 16px;
    }
    .hero{
        height: 50px;
    }

    /* roadmap---- */
    .roadmap{
        height: 150vh;
    }
    .road{
        height: 100%;
        width: 5px;
        left: 50%;
        top: 0%;
    }
    .roadmap-bottom{
        flex-direction: column !important;
        height: 100vh;
        align-items: start !important; 
    }
    /* .pro-sq{
        flex-direction: column !important;
        height: 100vh;
        align-items: start !important;
        left: 49%;
    } */
    .rd{
        width: 200px;
        justify-content: center !important;
        align-items: center !important;
    }
    .road-1, .road-3 , .road-5{
        transform: translateX(-100px);
        padding: 0% 48px !important;
    }
    .road-2, .road-4 , .road-6{
        transform: translateX(100px);
        padding: 0% 48px !important;
    }
    .sq-1 , .sq-3, .sq-5{
        left: 197.5px;
        top: 50%;
    }
    .sq-2 , .sq-4, .sq-6{
        left: -2.5px;
        top: 50%;
    }
}