/*----------------------------------- thanks----------------------------------  */

.thanks{
    height: 100vh;
    width: 100vw;
}

.thanks-top{
    font-size: 70px;
    color: #07CE02;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Space Games;
}

.f-text{
    color: #07CE02;
    text-decoration: underline;
}

.f-sq{
    height: 5px;
    width: 5px;
    transform: rotate(45deg);
}

.f-logo{
    color: #07CE02;
}