.page-3{
    width: 100vw;
    background-color: black;
}

.page3-comp1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.chadi{
    height: 100vh;
}

.sound-img{
    height: 50px;
}

.crystal-img{
    height: 200px;
}

.world-img{
    height: 80px;
}

.page3-right{
    height: 100vh;
}

.crystal-text{
    font-size: 24px;
    color: #70CE02;
    line-height: 24px;
    width: 100%;
}


/* -------------------- comp-2--------------- */

.hero{
    z-index: 500;
    height: 200px;
}


/* -------------------- comp-3--------------- */

.page3-comp3{
    width: 100vw;
}

.page3-comp3-text{
    width: 100vw;
    font-size: 100px;
    -webkit-text-stroke: 1px #70CE02;
    color: transparent;
    text-transform: uppercase;
    z-index: 600;
}

.comp3-bg{
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 600;
    opacity: 0;
}

.circle-1{
    height: 600px;
    width: 600px;
    border: 50px solid #025200;
    border-radius: 50%;
}

.circle-2{
    height: 100%;
    width: 100%;
    border: 5px solid #04930059;
    border-radius: 50%;
}
.circle-3{
    height: 100%;
    width: 100%;
    border: 25px solid blue;
    border-radius: 50%;
    background-color: blueviolet;
}

.circle3-top , .circle3-bottom{
    height: 100%;
    width: 100%;
}

.circle-top1, .circle-top2 , .circle-bottom1, .circle-bottom2{
    height: 50%;
    width: 50%;
}

.circle-space{
    height: 50vh;
    width: 100vw;
}

/* -------------comp -4 ---------------------- */

.roadmap{
    width: 100vw;
    height: 100vh;
}

.roadmap-top{
    font-size: 50px;
    font-weight: 700;
    color: #70CE02;
}

.road{
    border:1px solid #70CE02;
    height: 5px;
    top: 150px;
    width: 100vw;
    z-index: 20;
}

.progress{
    background-color: #70CE02;
    height: 100%;
    border-radius: 0%;
}

.pro-sq{
    z-index: 30;
    height: 20px;
    top: 150px;
    width: 100vw;
    transform: translateY(-7.5px);
}

.sq{
    width: 10px;
    height: 10px;
    rotate: 45deg;
    border: 1px solid #70CE02;
    background-color: black;
}

.roadmap-bottom{
    height: 300px;
    color: #70CE02;
}

.road-1, .road-3 , .road-5{
    transform: translateY(150px);
}

.road-top{
    font-size: 20px;
    font-weight: 500;
}
.road-bottom{
    font-size: 12px;
    opacity: .6;
}