.page1{
    overflow: hidden;
    background-color: black;
}

.page1-comp1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.page1-bg{
    right: 0%;
    bottom: -10%;
    overflow: hidden;
}

.alien1-img{
    width: 1200px;
}

/* comp1-front------------- */

.page1-front{
    height: 100vh;
    font-size: 150px;
    overflow: hidden;
}

.comp1-line{
    font-weight: 900;
    line-height: 130px;
    color: #07CE02;
    letter-spacing: 20px;
    z-index: 20;
    backdrop-filter: blur(2px);
}

.webkit-the{
    -webkit-text-stroke:2px #07CE02;
    color: transparent;
}

.page1-line3{
    -webkit-text-stroke: 2px #07CE02;
    color: transparent;
}

/* buttons------------------ */

.join-btns{
    font-size: 20px;
}

.discord{
    border-radius: 0%;
    background-color: #07CE0242;
    color: #07CE02;
    backdrop-filter: blur(2px);
}

.world-btn{
    border-radius: 0%;
    background-color: #07CE0242;
    color: #07CE02;
    backdrop-filter: blur(2px);
    z-index: 20;
}

/* comp2---------- */

.space-comp1{
    height: 100vh;
    width: 100vw;
}

.page1-comp2{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.comp2-top , .comp2-bottom{
    width: 40vw;
    z-index: 20;
}

.comp2-head{
    font-size: 24px;
    color: #07CE02;
}

.comp2-text{
    font-size: 16px;
    color: #07CE02;
}

.community-top{
    font-size: 50px;
    color: #07CE02;
    font-weight: 700;
    line-height: 50px;
}

.community-bottom{
    font-size: 40px;
    -webkit-text-stroke: 1px #07CE02;
    color: transparent;
    font-weight: 700;
    line-height: 40px;
}

/* comp3----------------- */

.page1-comp3{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.comp3-text{
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 110px;
    transition: .5s ease;
    /* word-spacing: 20px; */
}

.webkit-1{
    color: #07CE02;
}

.webkit-2{
    -webkit-text-stroke: 1px #07CE02;
    color: transparent;
}

.webkit-4{
    -webkit-text-stroke: 1px #07CE02;
    color: transparent;
}


/* -------------media queries----------- */


@media screen and (max-width:600px) {

    .page1-front{
        justify-content: start !important;
        margin-top: 20%;
    }
    .comp1-line{
        font-size: 50px;
        line-height: 50px;
        word-spacing: normal;
        letter-spacing: normal;
    }
    .alien1-img{
        width: 100vw;
    }
    .page1-line3 , .page1-line1{
        padding-left: 0% !important;
    }
    .join-btns{
        flex-direction: column !important;
        width: 100%;
    }
    .discord , .world-btn{
        width: fit-content;
    }
    .world-btn{
        margin-top: 8px !important;
        margin-left: 100px;
    }

    /* page1-comp2---------- */

    .page1-comp2{
        align-items: center !important;
        padding: 32px !important;
        justify-content: space-evenly !important;
    }
    .comp2-top{
        width: 100%;
        padding: 48px !important;
    }
    .comp2-head{
        font-size: 22px;
        font-weight: 400;
        text-align: start;
        padding-bottom: 24px !important;
    }
    .comp2-text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: start;
        max-height: 300px;
        overflow-y: scroll;
    }
    .comp2-bottom {
        padding: 0px 48px !important;
        width: 100%;
        align-items: start !important;
    }
    .community-top , .community-bottom{
        padding: 0% !important;
        font-size: 25px;
        line-height: 34px;
    }

    /* page1 comp3--------- */
    
    .page1-comp3{
        padding: 48px !important;
    }

    .comp3-text{
        font-size: 35px;
        padding: 48px !important;
        line-height: 50px;
    }
}