.page-2{
    background-color: black;
    width: 100vw;
    overflow: hidden;
}

.box{
    top: 45%;
    height: 50px;
    width: 50px;
    background-color: #07CE02;
    rotate: 45deg;
    z-index: 10;
    transform: scale(1);
}

/* comp1--------------- */

.page2-comp1{
    height: 100vh;
    width: 100vw;
}

.shuffle-top {
    z-index: 20;
    transform: translateY(250px);
    opacity: 0;
}
.shuffle-bottom {
    z-index: 20;
}

.shuffle-left{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.shuffle-text1{
    font-size: 12px;
}
.shuffle-text2{
    font-size: 16px;
    font-family: 'Space Mono';
}

.layers , .box-2 , .box2-content{
    transform: translateY(250px);
}

.layer-1{
    z-index: 400;
}
.layer-2{
    z-index: 300;
}
.layer-3{
    z-index: 200;
}
.layer-4{
    z-index: 100;
}

.lr1-img1, .lr1-img2{
    height: 250px;
}

.lr2-img1{
    height: 210px;
    margin-right: 420px;
}
.lr2-img2{
    height: 210px;
}

.lr3-img1{
    height: 170px;
    margin-right:760px;
}
.lr3-img2{
    height: 170px;
}

.lr4-img1{
    height: 130px;
    margin-right: 1020px;
}
.lr4-img2{
    height: 130px;
}


/* ----------black svg------------------------------ */
.box-2{
    height: 300px;
    width: 500px;
    transform: rotateY(90deg);
    background-color: black !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.box2-content{
    height: 100%;
    max-height: 100vh;
    scale: 0;
    opacity: 0;
}

.box2-line1{
    font-size: 20px;
    -webkit-text-stroke: 1px #07CE02;
    line-height: 20px;
    color: transparent;
    text-transform: uppercase;
}
.box2-line2{
    font-size: 32px;
    color: #07CE02;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 700;
}

.box2-img{
    height: 150px;
}

.img-text{
    color: #07CE02;
    font-size: 10px;
}


/* comp2----------- */

.page2-comp2{
    background-color:#07CE02 !important;
    height: 50vh;
}


/* media qyueries------------- */

@media screen and (max-width:600px) {
    .shuffle-top{
        flex-direction: column !important;
    }
    .shuffle-left{
        justify-content: center !important;
        width: 100% !important;
        padding: 48px !important;
    }
    .shuffle-right{
        justify-content: center !important;
        flex-direction: column !important;
        align-items: start !important;
        padding: 0% !important;
    }
    .shuffle-text1{
        padding: 0% !important;
        text-align: start;
        width: 100%;
        padding-bottom: 16px !important;
    }
    .shuffle-text2{
        padding: 0% !important;
    }

    .lr1-img1, .lr1-img2{
        height: 132px;
    }
    .lr2-img1{
        height: 116px;
        margin-right: 232px;
    }
    .lr2-img2{
        height: 116px;
    }
    .lr3-img1{
        height: 100px;
        margin-right:400px;
    }
    .lr3-img2{
        height: 100px;
    }
    .lr4-img1{
        height: 84px;
        margin-right: 530px;
    }
    .lr4-img2{
        height: 84px;
    }

}

/* comp2--------------- */

.page2-comp2{
    height: 50vh;
    background-color: #07CE02;
    width:100vw;
}